@model IEnumerable<StoreManagement_Project.Models.Currency>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SymbolOfCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBaseCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SymbolOfCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBaseCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CurrencyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CurrencyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CurrencyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
