@model IEnumerable<StoreManagement_Project.Models.Item>

@{
    ViewData["Title"] = "Items List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Item Code</th>

            <th>Item Name</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>Brand</th>
            <th>Unit</th>
            <th>Pack Size</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemCode</td>

                <td>@item.ItemName</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.SubCategory.SubCategoryName</td>
                <td>@item.Brand.BrandName</td>
                <td>@item.Unit.NameOfUnit</td>
                <td>@item.PackSize.Size</td>
                <td>
                    @* <a href="@Url.Action("Edit", "Item", new { id = item.ItemId })" class="btn btn-warning">Edit</a> *@

                    <a href="javascript:void(0);" class="btn btn-danger" onclick="confirmDelete(@item.ItemId)">Delete</a>                    
                    <a href="@Url.Action("Details", "Item", new { id = item.ItemId })" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript"> 
    function confirmDelete(itemId) {
        var confirmDelete = confirm("Do you want to delete this item?");

        if (confirmDelete) {
            window.location.href = '@Url.Action("Delete", "Item", new { id = "__id__" })'.replace("__id__", itemId);
        }
    }
</script>