@model StoreManagement_Project.Models.UnitSet

@{
    ViewData["Title"] = "Unit Set Details";
}

<h1>Unit Set Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.NameOfUnitSet</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Remarks</dt>
        <dd class="col-sm-9">@Model.Remarks</dd>
    </dl>
</div>

<h4>Child Units</h4>
@if (Model.Units != null && Model.Units.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Unit Name</th>
                <th>Factor to Base Unit</th>
                <th>Is Base Unit</th>
                <th>Description</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var unit in Model.Units)
            {
                <tr>
                    <td>@unit.NameOfUnit</td>
                    <td>@unit.UnitFactor</td>
                    <td>@(unit.IsBaseUnit ? "Yes" : "No")</td>
                    <td>@unit.Description</td>
                    <td>@unit.Remarks</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>No units available for this Unit Set.</em></p>
}

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
