@model IEnumerable<StoreManagement_Project.Models.Unit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBaseUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitSet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitFactor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBaseUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitSet.NameOfUnitSet)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UnitId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UnitId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UnitId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
